<div class="book">
  <h2 (click)="onTitleClicked()" class="title">Title: {{book.title}}</h2>
  <h2 class="author">Authors: {{authors}}</h2>
  <!-- <span id="authors" *ngFor="let author of book.authors"> {{author}} </span> -->
  <h4><a class="link" [href]="book.previewLink" target="_blank">Book Page</a></h4>
  <div class="details">
    <img [src]="thumbnail" alt="">
    <div *ngIf="isTitleClicked">
      <h3>Publisher: {{ publisher }}</h3>   
      <h3>PublishedDate: {{ publishedDate }}</h3> 
      <h3>Description:</h3> <h4>{{ description }}</h4>
    </div>
  </div>
</div>